In [1]:
import geopandas as gpd

In [19]:
gdf = gpd.read_file('../data/nanshan_traj.shp')

gdf.describe()

,indexp,age,gender,date,move_id,length
count,9.501400e+04,95014.000000,95014.000000,9.501400e+04,95014.000000,95014.000000
mean,3.966986e+07,7.684120,1.315996,2.019072e+07,1.717557,2803.607008
std,2.281046e+07,2.092064,0.464914,8.256073e+00,1.835047,1095.710248
min,2.427000e+03,4.000000,1.000000,2.019070e+07,0.000000,111.507474
25%,1.991471e+07,6.000000,1.000000,2.019071e+07,0.000000,1943.274278
50%,3.956794e+07,7.000000,1.000000,2.019072e+07,1.000000,2717.475632
75%,5.975773e+07,9.000000,2.000000,2.019072e+07,3.000000,3664.016860
max,7.896357e+07,16.000000,2.000000,2.019073e+07,17.000000,4999.941949

In [20]:
grouped = gdf.groupby(['age']).size().reset_index(name='count')
print(grouped)
grouped = gdf.groupby(['gender']).size().reset_index(name='count')
print(grouped)

     age  count
0    4.0    909
1    5.0  11538
2    6.0  20233
3    7.0  17979
4    8.0  14750
5    9.0  10803
6   10.0   9084
7   11.0   5217
8   12.0   2368
9   13.0    910
10  14.0    609
11  15.0    528
12  16.0     86
   gender  count
0     1.0  64990
1     2.0  30024

In [21]:
indexp_counts = gdf['indexp'].value_counts()
print(indexp_counts)

35184339.0    52
63382557.0    51
62203209.0    50
9285477.0     47
39756432.0    46
              ..
33290016.0     1
33288806.0     1
33287354.0     1
33283463.0     1
78963571.0     1
Name: indexp, Length: 44164, dtype: int64

In [22]:
# Drop duplicates based on 'indexp' and 'gender'
unique_people = gdf.drop_duplicates(subset=['indexp', 'gender'])

# Count the number of unique 'indexp' for each gender
gender_counts = unique_people['gender'].value_counts()

print(gender_counts)

1.0    28620
2.0    15544
Name: gender, dtype: int64

In [27]:
# Drop duplicates based on 'indexp' and 'gender'
unique_people = gdf.drop_duplicates(subset=['indexp', 'age'])

# Count the number of unique 'indexp' for each gender
gender_counts = unique_people['age'].value_counts()

print(gender_counts.sort_index)

<bound method Series.sort_index of 6.0     9507
7.0     8561
8.0     6785
5.0     5338
9.0     5036
10.0    3962
11.0    2334
12.0    1107
4.0      484
13.0     442
14.0     301
15.0     268
16.0      39
Name: age, dtype: int64>

In [28]:
# Given data
age_counts = {
    7.0: 8561,
    8.0: 6785,
    5.0: 5338,
    9.0: 5036,
    10.0: 3962,
    11.0: 2334,
    12.0: 1107,
    4.0: 484,
    13.0: 442,
    14.0: 301,
    15.0: 268,
    16.0: 39
}

# Define age groups
age_groups = {
    "4-7": range(4, 8),  # includes ages 4, 5, 6, and 7
    "8-13": range(8, 14),  # includes ages 8 through 13
    "Others": []
}

# Group and sum counts based on defined age groups
grouped_counts = {}
for group, ages in age_groups.items():
    grouped_counts[group] = sum(age_counts[age] for age in ages if age in age_counts)

# For "Others" group, subtract the counts of the other two groups from the total
grouped_counts["Others"] = sum(age_counts.values()) - grouped_counts["4-7"] - grouped_counts["8-13"]

print(grouped_counts)

{'4-7': 14383, '8-13': 19666, 'Others': 608}

In [24]:
# Create an empty set to store unique points
unique_points = set()

# Loop through each geometry and extract its constituent points
for geom in gdf.geometry:
    if geom.geom_type == 'LineString':
        for pt in geom.coords:
            unique_points.add(pt)
    elif geom.geom_type == 'MultiLineString':
        for line in geom:
            for pt in line.coords:
                unique_points.add(pt)

print(f"Number of unique points: {len(unique_points)}")

Number of unique points: 3584

In [25]:
total_points = sum(len(line.coords) for line in gdf.geometry if line.geom_type == 'LineString')

print(f"Total number of points: {total_points}")

Total number of points: 2160763