In [6]:
import geopandas as gpd
import pandas as pd

In [2]:
true_fnid=[9719.0, 9718.0, 9717.0, 9716.0, 10073.0, 10430.0, 10787.0, 10786.0, 11143.0, 11142.0, 11141.0, 11140.0, 11139.0, 11138.0, 11137.0, 11494.0, 11493.0, 11850.0, 12207.0, 11850.0, 11849.0, 11848.0]
fnid_logit=[11848.0, 11492.0, 11493.0, 11851.0, 11852.0, 11853.0, 11497.0, 11141.0, 10785.0, 10429.0, 10073.0, 9717.0, 9718.0, 9719.0]
fnid_ga=[11848.0, 11492.0, 11493.0, 11851.0, 11495.0, 11139.0, 10783.0, 10427.0, 10071.0, 9715.0, 10073.0, 9717.0, 9718.0, 9719.0]
fnid_ge=[11848.0, 11492.0, 11493.0, 11494.0, 11138.0, 11139.0, 10783.0, 11141.0, 10785.0, 10429.0, 10072.0, 9716.0, 9717.0, 9718.0, 9719.0]

fnid_psl=[9719.0, 9718.0, 9717.0, 9359.0, 9715.0, 10071.0, 10427.0, 10783.0, 11139.0, 11138.0, 11137.0, 11136.0, 11492.0, 11848.0]

In [3]:
gdf=gpd.read_file('../data/nanshan_grid.shp')

In [13]:
def add_columns_based_on_fnid(row):
    fnid = row['fnid']
    columns = {'true': 0, 'logit': 0, 'ga': 0, 'ge': 0, 'psl': 0}
    
    if fnid in true_fnid:
        columns['true'] = 1
    if fnid in fnid_logit:
        columns['logit'] = 1
    if fnid in fnid_ga:
        columns['ga'] = 1
    if fnid in fnid_ge:
        columns['ge'] = 1
    if fnid in fnid_psl:
        columns['psl'] = 1
    
    return pd.Series(columns)

# 使用apply方法添加新的列
gdf[['true', 'logit', 'ga', 'ge', 'psl']] = gdf.apply(add_columns_based_on_fnid, axis=1)
gdf['sum'] = gdf[['true', 'logit', 'ga', 'ge', 'psl']].sum(axis=1)

In [14]:
gdf.head(5)

,fnid,county_cod,county_nam,geometry,true,logit,ga,ge,psl,sum
0,4704.0,440305.0,南山区,"POLYGON ((113.90534 22.47621, 113.90290 22.476...",0,0,0,0,0,0
1,9700.0,440305.0,南山区,"POLYGON ((113.90046 22.50723, 113.89802 22.507...",0,0,0,0,0,0
2,14003.0,440305.0,南山区,"POLYGON ((113.94439 22.53604, 113.94683 22.536...",0,0,0,0,0,0
3,9357.0,440305.0,南山区,"POLYGON ((113.93463 22.50501, 113.93218 22.505...",0,0,0,0,0,0
4,14000.0,440305.0,南山区,"POLYGON ((113.93951 22.53382, 113.93707 22.533...",0,0,0,0,0,0

In [16]:
gdf.to_file('../data//test/nanshan_grid_with_labels.shp')